.header {
    color: white;
    background-color:#800040;
    text-align: center;
    margin: 0;
    height: 65px;
    opacity: 0.5;
}
body {
    margin: auto;
}
h1.header {
    padding-top: 20px;
}
p {
    color: white;
}
p.name {
    color: white;
    font-size: 84px;
    text-align: center;
    background-color: #800040;
    opacity: 0.5;
    border-radius: 25px;
    width: 800px;
    margin-left: 350px;
    margin-top: 250px;
}
div.resume {
    overflow: auto;
}
.name {
    font-family: "Brush Script MT", cursive;
}
/* .content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    height: 100%;
} */

.content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;

    display: block;
    background-image: url("../images/html.png");

    z-index: -1;

    filter: blur(2px);
    height: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    line-height: 47px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:black;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color:black;
    color: white;
}

.round_corners{
    color: white;
    background-color: #800040;
    opacity: .5;
    text-align: center;
    border-radius: 25px;
    width: 200px;
    padding: 20px;
}
img {
    padding: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#800040;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color:black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #800040
}

.dropdown:hover .dropdown-content {
    display: block;
}